#DEPLOYMENT_TAG=localdev
RAILS_ENV=development
RAILS_MASTER_KEY=
RAILS_LOG_LEVEL=debug
TUNNELLED_HOST=

#Server
RAILS_SERVER_BASE_URL=http://localhost
RAILS_SERVER_PORT=3000
# WEB_CONCURRENCY=0 for single mode, or WEB_CONCURRENCY=2 or more for cluster mode (i.e. WEB_CONCURRENCY=1 is generally a mistake)
WEB_CONCURRENCY=0
RAILS_MIN_THREADS=1
RAILS_MAX_THREADS=3
RAILS_FORCE_SSL=false

# Background Jobs
JOBS_CONCURRENCY=1
JOBS_MAX_THREADS=15
WEBSITE_THUMBNAIL_GENERATION_CONCURRENCY=3

#Index (OpenSearch)
OPENSEARCH_URL=http://localhost:9200
OPENSEARCH_BATCH_SIZE=1000

#Database
IRD_DB_HOST='localhost'
IRD_DB_PORT=5432
IRD_DB_USERNAME='ird'
IRD_DB_CONNECTION_POOL=90

#Default model identifiers
DEFAULT_RP=""
#RP_FOR_LIVE_RECORDS="d0dafe16-fbe7-4392-aa11-c5c3466ba8d7"
#RP_FOR_ARCHIVED_RECORDS="a1e87a55-b200-49b0-95a0-0f36832730c5"
DEFAULT_PLATFORM="_unknown"
SYSTEM_USER=""


#Storage
LOCAL_DISK_STORAGE_ROOT='./storage'

# SMTP
SMTP_ADDRESS=
SMTP_PORT=
SMTP_DOMAIN=
SMTP_USERNAME=
SMTP_PASSWORD=

#Application
HEADER_BANNER_MESSAGE=""
#HEADER_BANNER_MESSAGE=demonstration_only_text
#DO NOT SET 'ALLOW_TEST_USER_ACCOUNTS_WITHOUT_VERIFICATION' TO true IN PRODUCTION!
PREVENT_PUBLIC_ACCESS_TO_DATA=false
ALLOW_TEST_USER_ACCOUNTS_WITHOUT_VERIFICATION=true
TEST_USER_ACCOUNTS='someone@example.com,someone-else@example.com'
THUMBNAIL_GENERATOR_WAIT_SECONDS=10
MAX_AUDITS=5
##Analytics
#PLAUSIBLE_ANALYTICS=ird.coar-repositories.org
# Development Environment Only
APP_VERSION=DEV
GOOGLE_TRANSLATE_API_KEY=
FEEDBACK_LINK=