= render '_shared/record_action_buttons', model_instance: @platform
%div.row
  %div.col
    = print_field_name_and_value("ID",@metadata_namespace.id)
    = print_field_name_and_value("Metadata Format",@metadata_namespace.metadata_format.name)

